@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

.bg-gradient-purple{
    background: linear-gradient(to top,#15047a,#9672ff);
    color: white;
    border-radius: 20px;
}

.btn-gradient-purple{
    background: linear-gradient(to top,#15047a,#9672ff);
    color: white;
    transition: all ease-in-out ;
}

.btn-gradient-purple:hover{
    background: linear-gradient(to top,#16047aaf,#9572ffad);
    color: white;
}

.font-number-core{
    font-size: 20px;
    font-weight: bold;
}
.font-subs-core{
    font-size: 11px;
    font-weight: 600;
}

/* upload image */
.drag-drop-area {
            border: 2px dashed #007bff;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
            cursor: pointer;
        }
        .preview-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 10px;
        }
        .preview-container img {
            max-width: 100px;
            max-height: 100px;
        }
         .remove-btn {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: rgba(255, 0, 0, 0.7);
            color: white;
            border: none;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            cursor: pointer;
        }
